.about-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: rgba(218, 81, 165, 0.5);
    padding: 50px;
    margin: 100px;
    border-radius: 10px;
}

img {
    border-radius:100px;
}